@import "tailwindcss";
@import "./color-overrides.css";

@source "../";

@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4" {
  prefixes: mdi;
}

@plugin "daisyui" {
  prefix: "dy-";
  logs: false;
  themes: light --default;
  exclude: rootcolor scrollbar;
}

@theme inline {
  --color-primary: var(--primary-color);
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --radius-selector: 1rem;
  --radius-field: 0.375rem;
  --radius-box: 0.375rem;
  --color-base-100: #f3f4f6;
  --color-base-200: #e5e7eb;
  --color-base-300: #d1d5db;
  --color-base-content: #9ca3af;

  --color-primary: var(--primary-color);
  --color-primary-content: #f9fafb;
  --color-secondary: var(--primary-color);
  --color-secondary-content: #f9fafb;
  --color-accent: var(--primary-color);
  --color-accent-content: #f9fafb;
  --color-neutral: #4b5563;
  --color-neutral-content: #f9fafb;
  --color-info: #0ea5e9;
  --color-info-content: #f9fafb;
  --color-success: #16a34a;
  --color-success-content: #f9fafb;
  --color-warning: #f97316;
  --color-warning-content: #fff7ed;
  --color-error: #dc2626;
  --color-error-content: #fef2f2;
}
